<div class="container fixed-top bg-dark rounded">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 navbar-dark ">
        <div class="col-md-2 mb-1 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img class="bi" width="50" height="47" role="img" src="/static/images/logo.png" alt="logo" />
            </a>
        </div>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0  ">
            <li><a href="/" class="nav-link px-2 bg-primary text-light rounded">Home</a></li>
            <li><a href="#TeamSec" class="nav-link text-light px-2">Features</a></li>
            <li><a href="#TeamSec" class="nav-link text-light px-2">Team</a></li>
            <li><a href="#" class="nav-link text-light px-2">About</a></li>
            <li><a href="#BlogsSec" class="nav-link text-light px-2">Blogs</a></li>
            <li><a href="#" class="nav-link text-light px-2">FAQs</a></li>
            <li><a href="#ContactSec" class="nav-link text-light px-2">Contact</a></li>
        </ul>

        <div class="col-md-3 text-end dropdown">
            <a type="button" class="btn btn-outline-primary btn-group-lg me-2 text-decoration-none dropdown-toggle"
                data-bs-toggle="dropdown" aria-expanded="false">Login</a>
            <ul class="dropdown-menu text-small shadow">
                <li><a class="dropdown-item" href="/login">Customer</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="/Departmentlogin">Department</a></li>
            </ul>
            <a href="/UserRegistration" type="button" class="btn btn-outline-primary btn-group-lg me-2 text-decoration-none">Sign-up</a>
        </div>
    </header>
</div>